{% extends 'base.html' %}

{% block content %}
    <h1>Моя корзина:</h1>
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.dish.name }} - {{ item.quantity }} шт.
                {% if item.dish.image %}
                    <img src="{{ item.dish.image.url }}" alt="Card image" style="width:10%">
                {% endif %}
                <a href="{% url 'cafeApp:edit-cart' item.id %}" style="margin-left: 10px; padding: 5px 10px; background: #007bff; color: white; text-decoration: none; border-radius: 5px;">Редагувати</a>
            </li>
        {% empty %}
            <li>Кошик порожній</li>
        {% endfor %}
    </ul>

    {% if cart_items %}
        <a href="{% url 'cafeApp:order-create' %}" class="checkout-button">Оформити замовлення</a>
    {% endif %}

    <style>
        .checkout-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 15px 25px;
            background: #28a745;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background 0.3s ease;
        }

        .checkout-button:hover {
            background: #218838;
        }
    </style>
{% endblock %}